.copyable::before {
  display: inline-block;
  opacity: 0;
  white-space: pre-wrap;
  content: attr(data-info);
  position: absolute;
  margin-top: -5.8rem;
  right: 0;
  margin-right: -5.25rem;
  width: 11rem;
  padding: 0.375rem 0.5rem;
  background-color: black;
  font-size: 0.75rem;
  color: white;
  transition: opacity 0.3s ease-out;
  text-align: left;
}

.copyable::after {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -2px;
  margin-top: -2.5rem;
  border: 10px solid transparent;
  transition: opacity 0.3s ease-out, margin 0.3s ease-out, border 0.3s ease-out;
}

.copyable:hover::after,
.copyable:hover::before,
.active::after,
.active::before {
  display: block;
  opacity: 1;
}
.copyable:hover::after {
  margin-top: -26px;
  border-top-color: black;
}
.copied::before {
  content: 'Copied!';
}
.resetting::before,
.resetting::after {
  opacity: 0 !important;
  display: none !important;
}

@media screen and (min-width: 768px) {
  .metricCard {
    width: calc(33.333333% - 1.2rem);
  }
}
